@charset "utf-8";
/* CSS Document */

	html {
	
		background-color: white;
		
		color:black;
		
		font-family: 'Oswald', sans-serif;
		
		font-size: 36px;
		
		align-items: center;		
		
}

section iframe {

	margin:0;
	
	padding-left: 35px;	
	
	padding-top: 10px;	
	
}

	section {
	
		background-color: white; 
}

	div {
		
		background-color: black;
				
		margin-top: 80px;
		
		color: white;
		
		width: 700px ;
  		
		margin-left: auto ;
  		
		margin-right: auto ;

		
		
		
    	
}

	div a {
		
		background-color: yellow;
		
		font-family: 'Oswald', sans-serif;
		
		font-size: 18px;
						
		margin-top: -10px;
		
		padding-top: 5px;
		
		color: black;
		
		width: 700px ;
  		
		margin-left: auto ;
  		
		margin-right: auto ;
		
		text-align: center;
		
		display: block;

		
		
		
    	
}

	div img {
	
		margin-top: 0;
		
		margin-bottom: 0;
}

	
	nav {

		color: black;

		font-family: 'Oswald', sans-serif;
		
		display: inline-block;
		
		

	}

	header {

		background-color: white;
		
		color: black;
		
		position: fixed;
  		
		left: 0;
  		
		right:0;
		
		top: 0;
		
		text-align: center;	
				
}

	
	header img {

		padding-top: 10px;				
}
	header a {
		
		width: 100px;
 	
		display: inline-block;
  	
		font-size: 14px;
  	
		margin: 0;
	
		color: black;
		
		font-weight: bolder;
		
		text-decoration: none;		
		
		font-family: 'Oswald', sans-serif;	
					
}



	footer {
	
		background-color: black;
		
		position: bottom;
		
		bottom: 0;
				  		
		left: 0;
  		
		right:0;
		
		text-align: center;
		
				
}

	footer table {
	
		background-color: black;
		
		width: auto;
	
		display: inline-block;

		
		
}

	footer p {
		
		color: white;
		
		font-size: 12px;
		
		font-family: 'Oswald', sans-serif;	
		
}

	footer a {
		
		width: 100px;
 	
		display: inline-block;
  	
		font-size: 10px;
  	
		margin: 0;
	
		color: white;
		
		text-decoration: none;		
		
		font-family: 'Oswald', sans-serif;
}

	footer th {
	
		font-size: 11px;
	
		text-align: center;
	
		font-family: 'Oswald', sans-serif;
		
		padding-top: 10px;
		
		padding-left: 50px;
		
		padding-right: 50px;
		
		padding-bottom: 5px;
				
		left: 0;
		
		right: 0;		
		
}

	footer td {
	
		font-size: 9px;
	
		text-align: center;
	
		font-family: 'Oswald', sans-serif;
		
		position: center;
	
		font-weight: lighter;
		
		
}

	footer div {
	
		display: block;
		
		margin-top: 0px;
		
		left: 0px;
		
		align-content: center;
	
	
}
			
	footer img {
	
		display: block;
		
		margin-left: auto ;
  		
		margin-right: auto ;
	
	
}	

			
	h1	{
	
		color: black;
		
		text-shadow: 100px black;
		
		font-family: 'Oswald', sans-serif;
		
		font-size: 24px;
		
		text-align: center;		
		
		padding: 20px;
		
		margin-top: 0;
		
		background-color: lightgray;		
		
}

	div p {
	
		color: black;
		
		text-shadow: 100px black;
		
		font-family: 'Oswald', sans-serif;
		
		font-size: 14px;
		
		text-align: center;	
		
		background-color: lightgray;
			
		padding: 20px;
			
		margin-top: -50px;
				
		
}
	
	h2	{
	
		color: white;
		
		font-family: 'Oswald', sans-serif;
		
		position: static;
				
		text-align: center;		
		
		display: block;		
		
		padding: 20px;
		
		margin-top: 0;
		
		margin-bottom: 0;
		
		background-color: black;
		
		font-size: 24px;
		

}

	h3  {
	
		color: black;	
		
		font-family: 'Oswald', sans-serif;
		
		position: static;
				
		text-align: center;		
		
		display: block;		
				
		margin-top: 0;
		
		margin-bottom: 0;
		
		padding: 10px;
		
		background-color: white;
		
		font-size: 12px;
}


	body	{
	
		color: white;
		
		font-family: 'Oswald', sans-serif;
		
		position: static;
				
		text-align: left;		
		
		display: block;

}



	